*{margin: 0; padding: 0;}

@font-face {
    font-family: "roboCondTitu";
    src: url(../RobotoCondensed-BoldItalic.ttf);
}

@font-face {
    font-family: "roboCond";
    src: url(../RobotoCondensed-Regular.ttf);
}

$colores: (
    w: #f4f5f5,
    grisE: #202a2f,
    grisP: #39505c,
    rojo: #cb2026,
    bor: #a13f42,
);
    
.fondo{
    background-color: map-get($map: $colores, $key: w);
}

.encab{
    grid-area: encabezado;
    background-color: map-get($map: $colores, $key: grisE);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.piePag{
    grid-area: pie;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: map-get($map: $colores, $key: grisP);
    flex-wrap: wrap;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.boton{
    width: 200px;
    height: 30px;
    background-color: map-get($map: $colores, $key: rojo);
    font-family: "roboCound", sans-serif;
    color: map-get($map: $colores, $key: grisE);
    border: none;
        &:hover{
            background-color: map-get($map: $colores, $key: bor);
            color: map-get($map: $colores, $key: w);
        }

}

.botonAct{
    width: 200px;
    height: 30px;
    background-color: #b8b8b8;
    font-family: "roboCound", sans-serif;
    color: map-get($map: $colores, $key: grisE);
    border: none;
}

.botonTienda{
    grid-area: botonTienda;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #004c6c;
    font-family: "roboCond";
    font-size: 23px;
    color: black;
    border: none;
    width: 200px;
    height: 40px;
    padding: 8px 10px 8px 10px;
    border: solid;
    border-color: map-get($map: $colores, $key: grisP);
    border-radius: 5px;
    margin: 30px;
        &:hover{
            background-color: map-get($map: $colores, $key: grisP);
            color: map-get($map: $colores, $key: w);
            border-color: map-get($map: $colores, $key: grisE);
        }
}

.titulos{
    grid-area: titulo;
    font-family: "roboCondTitu", sans-serif;
    font-size: 40px;
    color: map-get($map: $colores, $key: rojo);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.titulosIni{
    @extend .titulos;
    font-size: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: map-get($map: $colores, $key: grisE);
    
}

.texto{
    font-family: "roboCond", sans-serif;
    font-size: 15px;
    color: map-get($map: $colores, $key: grisP);
    text-align: justify;
}

.textoIni{
    @extend .texto;
    font-size: 20px;
    color: map-get($map: $colores, $key: w);
    padding: 20px;
    width: 70%;
}

.colorbarra{
    background-color:map-get($map: $colores, $key: rojo);
    position: sticky;
    top: 0px;
    z-index: 10000;
}
// INDEX
.fondoTextPrinc{
    background-image: url(../imagenes/maxInicio2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:scroll;
    margin: -15px;
}
.dispTextPrinc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    align-items:flex-start;
}
@keyframes aparicion {
    0% {opacity: 0;}
    20% {opacity: 0;}
    40% {opacity: 0;}
    60% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}

}
@mixin tamano ($anch, $alto) {
    width: $anch;
    height: $alto;
}
// TRAYECTORIA
.posVideo{
    grid-area: video;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.cuerpoTray{
    padding: 20px;
    background-color: map-get($map: $colores, $key: w);
}

.tamVideo{
    @include  tamano(740px, 420px)
}

// MERCH
.acordeon{
    grid-area: articulos;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.posBoton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

//PROX CARRERA

.posFecha{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}
#posFechaYBand{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 7px;
    padding-bottom: 7px;
}

.formTarj{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: map-get($map: $colores, $key: grisP);
    width: 320px;
    margin: 8px;
}


.tamBand{
    @include tamano(50px, 32px)
}
.tamPista{
    @include tamano(300px, 230px)
}
.event{
    font-family: "roboCondTitu";
    color: map-get($map: $colores, $key: rojo);
    background-color: map-get($map: $colores, $key: grisE);
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    margin: 3px;
}
.fecha{
    font-family: "roboCond";
    background-color: map-get($map: $colores, $key: grisP);
    color: map-get($map: $colores, $key: w);
    font-size: 12px;
    padding: 10px;
}
.fondo{
    background-color: map-get($map: $colores, $key: grisP);
}
.orgTarj{
    grid-area: carreras;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

// GALERIA

.grillaGale{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "encabezado"
    "barraNav"
    "titulo"
    "fotos"
    "pie";
}

.posGale{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tamGale{
    @include tamano(800px, 600px)
}

.gale{
    grid-area: fotos;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.imgGrande{
    width: 1023px;
    height: 600px;
    margin: 10px;
}

// USO DE MEDIA
@media screen and (min-width: 1444px){
    .textoIni{width: 50%;}
}
@media only screen and (max-width: 360px){
    .titulosIni{ font-size: 35px;}
    .textoIni {font-size: 18px; width: 100%; animation-name: aparicion; animation-duration: 6s;}
    .titulos{font-size: 35px;}
    .texto{font-size: 18px;}
    .barra2{position: relative;border-style: solid;border-width: 3px;border-color: #202a2f; bottom: 0px;}
    .acordeon{margin-left: 10%; margin-right: 10%;}
    .imgGrande{width: 92%;height: 24%;}
    .tamGale{@include tamano(350px, 200px)}
    .tamVideo{@include tamano(340px, 200px)}

}